<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Untitled</title>
</head>
	<style type="text/css">        .titulo  {
        	font-size : x-large;
        	font-weight : bold;
        	font-family : Verdana;
        }
        
        .titulo2  {
        	font-size : large;
        	font-weight : bold;
        	color : White;
        	font-family : Verdana;
        }
        
        .subtitulo  {
        	font-size : large;
        	font-family : Verdana;
        }
        
        .subtitulo2  {
        	font-size : medium;
        	font-family : Verdana;
        }
        
        .enlace  {
        	font-size : x-small;
        	font-family : Tahoma;
        	text-decoration : none;
			color:Black;
			font-weight:bold;
        }
        .subEnlace {
        	font-size : x-small;
        	font-family : Tahoma;
        	text-decoration : none;
			color:Black;
        }
        .noEnlace {
        	font-size : x-small;
        	font-family : Tahoma;
        	text-decoration : none;
			color:#fcfa02;
			font-weight:bold;
        }
        .noSubEnlace {
        	font-size : x-small;
        	font-family : Tahoma;
        	text-decoration : none;
			color:#fcfa02;
        }
        
        .pequena  {
        	font-size : 8pt;
        	font-family : Verdana;
        }
        .muyPequena  {
        	font-size : xx-small;
        	font-family : Verdana;
        }
        .adjudicado  {
        	color : red;
        	font-weight : bold;
        	font-family : Verdana;
        }
        
        .finalizado  {
        	color : blue;
        	font-weight : bold;
        	font-family : Verdana;
        }
        
        .libre  {
        	color : #009900;
        	font-weight : bold;
        	font-family : Verdana;
        }
        
        .texto  {
        	font-family : Verdana;
        	font-size : 8pt;
        }
        
        </style>
<body>



</body>
</html>
